{% extends 'core/base.html' %}

{% block titulo %}
    Detalle de Cliente
{% endblock titulo %}

{% block contenido %}
<div class="container">
    <div style="margin-left: 20px; margin-top: 10px; display: inline-block; background-color: #f8f8f8; color: #3498db; padding: 8px 16px; border-radius: 8px;">
        <a href="{% url 'cliente:cliente_list' %}" style="color: #3498db; text-decoration: none;">Volver</a>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center"> <!-- Añadido text-center para centrar la imagen -->
                    <img src="{{ cliente.avatar.url }}" class="rounded-circle mb-4" style="width: 270px; height: 270px; object-fit: cover; object-position: center center; margin: 0 auto;" alt="Foto de perfil"> <!-- Aumenta el tamaño de la imagen en un 50% -->
                    <h5 class="card-title">{{ object.apellido }}, {{ object.nombre }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>DNI:</strong> {{ object.dni }}</li>
                        <li class="list-group-item"><strong>Dirección:</strong> {{ object.direccion }}, {{ object.ciudad }}</li>
                        <li class="list-group-item"><strong>Fecha de nacimiento:</strong> {{ object.fecha_nacimiento }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 80px;"></div>
{% endblock contenido %}


