{% extends 'core/base.html' %}

{% block titulo %}
    Eliminar Cliente
{% endblock titulo %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table">
                                ¿Desea eliminar cliente {{ object.nombre }}?
                            </table>
                        </div>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a href="{% url 'cliente:cliente_list' %}" class="btn btn-dark">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}