{% extends 'core/base.html' %}

{% block titulo %}
    Pedidos
{% endblock titulo %}

{% block contenido %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="btn-group-vertical d-flex align-items-stretch">
                <a class="btn btn-primary btn-lg btn-block my-2 rounded-pill text-white" style="background-color: #343a40; border: none;" href="{% url 'cliente:pedido_list' %}">Listar Pedidos</a>
                <a class="btn btn-primary btn-lg btn-block my-2 rounded-pill text-white" style="background-color: #343a40; border: none;" href="{% url 'cliente:pedido_create' %}">Crear nuevo Pedido</a>
                <a class="btn btn-primary btn-lg btn-block my-2 rounded-pill text-white" style="background-color: #343a40; border: none;" href="{% url 'core:home' %}">Volver</a>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}