{% extends 'core/base.html' %}

{% block titulo %}
    Detalle de Pedido
{% endblock titulo %}

{% block contenido %}
<div class="container">
    <div style="margin-left: 20px; margin-top: 10px; display: inline-block; background-color: #f8f8f8; color: #3498db; padding: 8px 16px; border-radius: 8px;">
        <a href="{% url 'cliente:pedido_list' %}" style="color: #3498db; text-decoration: none;">Volver</a>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ object.cliente }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>DNI:</strong> {{ object.cliente.dni }}</li>
                        <li class="list-group-item"><strong>Dirección:</strong> {{ object.cliente.direccion }}, {{ object.cliente.ciudad }}</li>
                        <p class="card-text">
                            <strong>Artículo:</strong> {{ object.articulo }}
                        </p>
                        <p class="card-text">
                            <strong>Cantidad:</strong>  {{ object.cantidad }}
                        </p>
                        <li class="list-group-item"><strong>TOTAL:</strong></li>
                        <li class="list-group-item"><strong>Fecha de pedido</strong> {{ object.fecha_actualizacion }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}