{% extends 'core/base.html' %}
{% block titulo %}
    Lista de Artículos Exclusivos
{% endblock titulo %}

{% block contenido %}
<div style="margin-left: 20px; margin-top: 10px; display: inline-block; background-color: #f8f8f8; color: #3498db; padding: 8px 16px; border-radius: 8px;">
    <a href="{% url 'articulo:home' %}" style="color: #3498db; text-decoration: none;">Volver a Artículos</a>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="form-inline" action="{% url 'articulo:articulo_list' %}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" name="consulta" placeholder="Buscar Artículo..." value="{{ request.GET.consulta }}">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>  
    <div class="my-4">
        <div class="container">
            <div class="row">
                {% for articulo in object_list %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">{{ articulo.nombre }}</h2>
                                <a href="{% url 'articulo:articulo_detail' articulo.id %}" class="btn btn-outline-secondary btn-sm rounded-pill">Detalle</a>
                                <a href="{% url 'articulo:articulo_update' articulo.id %}" class="btn btn-outline-secondary btn-sm rounded-pill">Modificar</a>
                                <a href="{% url 'articulo:articulo_delete' articulo.id %}" class="btn btn-outline-secondary btn-sm rounded-pill">Eliminar</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
<div style="height: 50px;"></div>
{% endblock contenido %}


