{% extends 'core/base.html' %}
{% block titulo %}
    Artículos Exclusivos
{% endblock titulo %}

{% block contenido %}
<div style="margin-left: 20px; margin-top: 10px; display: inline-block; background-color: #f8f8f8; color: #3498db; padding: 8px 16px; border-radius: 8px;">
    <a href="{% url 'articulo:crear_articulo' %}" style="color: #3498db; text-decoration: none;">Crear nuevo Artículo</a>
</div>
  
  
    <div class="my-4">
        <div class="container">
            <div class="row">
                {% for articulo in articulos %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">{{ articulo.nombre }}</h2>
                                <h4 class="card-price">${{ articulo.precio }}</h4>
                                <p class="card-text">{{ articulo.descripcion }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
<div style="height: 50px;"></div>
{% endblock contenido %}


