{% load static %}
<header class="bg-black py-4">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-center">
                <img src="{% static 'core/img/ep.jpg' %}" class="rounded-circle mb-3" width="80" height="80" alt="Foto de perfil">
                <h1 class="display-6 fw-bolder text-white mb-0">Emily Parfumerie</h1>
            </div>
            <div class="col-md-12 text-center">
                <p class="lead fw-normal text-white-50 mb-0">Envuelve tu día en fragancias exclusivas. Descubre la esencia de la elegancia en nuestra perfumería online.</p>
            </div>
        </div>
    </div>
</header>


