{% load static %}
<header class="bg-black   py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <img src="{% static 'core/img/ep.jpg' %}" class="rounded-circle mb-4" width="200" height="200" alt="Foto de perfil">
            <h1 class="display-4 fw-bolder">Emily Parfumerie</h1>
            <p class="lead fw-normal text-white-50 mb-0">Envuelve tu día en fragancias exclusivas. Descubre la esencia de la elegancia en nuestra perfumería online.</p>
        </div>
    </div>
</header>