<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'core:home' %}">Emily Parfumerie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link {% if request.path == "/" %}active{% endif %}" aria-current="page" href="{% url 'core:home' %}">Home</a></li>
                
            {% if user.is_authenticated %}
                
                <li class="nav-item"><a class="nav-link {% if "/cliente/cliente" in request.path %}active{% endif %}" href="{% url 'cliente:home' %}">Clientes</a></li>
                <li class="nav-item"><a class="nav-link {% if "/articulo/" in request.path %}active{% endif %}" href="{% url 'articulo:home' %}">Artículos</a></li>
                <li class="nav-item"><a class="nav-link {% if "cliente/pedido" in request.path %}active{% endif %}" href="{% url 'cliente:pedidos' %}">Pedidos</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link {% if "/articulo/" in request.path %}active{% endif %}" href="{% url 'articulo:articulo_list' %}">Artículos</a></li>
            {% endif %}    
                <li class="nav-item"><a class="nav-link {% if "/about/" in request.path %}active{% endif %}" href="{% url 'core:about' %}">About</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link">¡Bienvenid@, {{ user.username }}!</a>
                    </li>
                    <li class="nav-item ">
                        
                        <form action="{% url 'core:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-dark ">Logout</button>
                        </form>
                    </li>
                    <li class="nav-item"><a class="nav-link {% if "/register" in request.path %}active{% endif %}" href="{% url 'core:register' %}">Registrar Usuario</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link {% if "/login" in request.path %}active{% endif %}" href="{% url 'core:login' %}">Login</a></li>
                    
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

