{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    ¡Próximos lanzamientos!
{% endblock titulo %}


{% block contenido %}

    

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% include 'core/components/card.html' with nombre='Perfume Lanzamiento 1' precio='$110.000' ruta='core/img/imagen1.webp' descripcion='En una fragancia floral, los delicados pétalos se entrelazan en una danza aromática, desplegando una sinfonía de elegancia y frescura. Las notas de rosa y jazmín se funden con la suavidad del lirio, mientras que el aroma de la flor de naranjo brinda una dulzura embriagadora. Esta esencia floral evoca la imagen de un jardín en plena primavera, donde la feminidad y la sofisticación se encuentran en cada gota de perfume.'%}
            {% include 'core/components/card.html' with nombre='Perfume Lanzamiento 2' precio='$112.000' ruta='core/img/imagen2.webp' descripcion='En un perfume cítrico, la frescura vivaz de los cítricos domina el ambiente, como un estallido de energía en cada inhalación. Las notas de limón, lima y pomelo se entrelazan en una sinfonía refrescante, despertando los sentidos y revitalizando el espíritu. Un toque de bergamota agrega un matiz sofisticado y ligeramente amargo, mientras que la mandarina aporta una dulzura jugosa y vivificante. Esta fragancia cítrica evoca la imagen de un día soleado en un campo de cítricos, lleno de vitalidad y alegría.'%}
            {% include 'core/components/card.html' with nombre='Perfume Lanzamiento 3' precio='$105.000' ruta='core/img/imagen3.webp' descripcion='En un perfume amaderado, la calidez envolvente de la madera crea una atmósfera de sofisticación y misterio. Las notas de cedro y sándalo añaden profundidad y serenidad, como si caminaras por un bosque tranquilo al atardecer. El vetiver agrega un toque terroso y ahumado, mientras que el pachulí aporta un matiz terroso y exótico. Esta fragancia amaderada evoca la sensación reconfortante de abrazar un suéter de lana junto a una fogata, donde la calidez y la elegancia se entrelazan en una armonía cautivadora.'%}
            
        </div>
    </div>
</section>
{% endblock contenido %}