{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    ¡Precios de lanzamiento!
{% endblock titulo %}


{% block contenido %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% include 'core/components/card.html' with titulo="La vie est Belle" precio="$65.000"%}
            {% include 'core/components/card.html' with titulo="La vie est Belle" precio="$70.000"%}
            {% include 'core/components/card.html' with titulo="La vie est Belle" precio="$6.000"%}
            
        </div>
    </div>
</section>
{% endblock contenido %}