{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    ¡Precios de lanzamiento!
{% endblock titulo %}


{% block contenido %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% include 'core/components/card.html' with nombre='Perfume Lanzamiento 1' precio='$110.000' ruta='core/img/imagen1.webp'%}
            {% include 'core/components/card.html' with nombre='Perfume Lanzamiento 2' precio='$112.000' ruta='core/img/imagen2.webp'%}
            {% include 'core/components/card.html' with nombre='Perfume Lanzamiento 3' precio='$105.000' ruta='core/img/imagen3.webp'%}
            
        </div>
    </div>
</section>
{% endblock contenido %}